
        <!--header-->
        <div class="header">
            <div class="headerWrap">
                <a class="logo" alt="decenter" href="/">
                    <img src="images/decenter.png">
                </a>
                <a class="mobileBtn">   
                <svg height="34px" viewBox="0 0 8 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Mobile" transform="translate(-334.000000, -19.000000)" fill="#448AFF">
                            <g id="gnb" transform="translate(334.000000, 19.000000)">
                                <g id="Group">
                                    <circle id="Oval-2" cx="4" cy="4" r="4"></circle>
                                    <circle id="Oval-2-Copy" cx="4" cy="20" r="4"></circle>
                                    <circle id="Oval-2-Copy-2" cx="4" cy="36" r="4"></circle>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                </a>
            </div>
            <ul class="menu">
                <li class="menuItem"><a class="menuBtn">About</a></li>
                <li class="menuItem"><a class="menuBtn">Services</a></li>
                <li class="menuItem"><a class="menuBtn">Crew</a></li>
                <li class="menuItem"><a class="menuBtn">Partners</a></li>
                <li class="menuItem"><a onclick="history.go(0)" href="/" class="langChange">KR</a></li>
            </ul>
        </div>
        <!--<ul class="mobileMenu">
            <li class="menuItem"><a class="menuBtn">About</a></li>
            <li class="menuItem"><a class="menuBtn">Services</a></li>
            <li class="menuItem"><a class="menuBtn">Crew</a></li>
            <li class="menuItem"><a class="menuBtn">Partners</a></li>
        </ul>-->
        <!--header end-->
        <!--mainPage wrap-->
        <div class="mainPageWrap">
        <!--cover section-->
        <div class="cover">
            <div class="coverTxt">
                <span class="txtBig">
                    To go fast, go alone.<br>
                    To go far, go together.
                </span>
                <br>
                <p class="txtSmall">
                    We believe that every industry starts with the right information and talent.<br>
                    All of our services will be the foundation of the blockchain industry and we’ll<br class="pBr">
                    strive to be the best partner for participants in this emerging business.<br>
                    We are Decenter, <span class="txtBold">the no.1 Blockchain Media and Education company</span> in Korea. 
                </p>
            </div>
        </div>
        <!--coversection end-->
        <!--content-->
        
            <!--section1-->
            <div class="wrap">
            <div class="scrollSection" id="section1">
                <div class="invest">
                    <h3 class="subTitle">
                        We are Decenter
                        <!--<svg width="25px" viewBox="0 0 106 107" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                            <!--<desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Desktop-HD" transform="translate(-645.000000, -3989.000000)" fill="#448AFF">
                                    <g id="Group-39" transform="translate(645.000000, 3989.000000)">
                                        <g id="Group-38">
                                            <path d="M52.9998464,72.7865912 C47.1445648,72.7865912 41.4121862,71.9332274 35.9441648,70.3262135 C34.3371509,64.8581921 33.4826276,59.124654 33.4826276,53.2693724 C33.4826276,47.4152503 34.3371509,41.6817122 35.9441648,36.2136909 C41.4121862,34.6078364 47.1445648,33.7533132 52.9998464,33.7533132 C58.8551279,33.7533132 64.5677957,34.6078364 70.0161062,36.2136909 C71.6219607,41.6214202 72.5170651,47.3537989 72.5170651,53.2902428 C72.5170651,59.1455243 71.6625418,64.8581921 70.0775577,70.3065026 C64.648958,71.8926462 58.9362902,72.7865912 52.9998464,72.7865912 M105.308961,42.1501348 C103.967464,30.8662535 100.611981,20.2142789 95.6112232,10.5165413 C85.8126124,5.49491267 75.1791892,2.24262261 64.0796623,0.941706584 C60.4204012,0.513865217 56.7205589,0.270378261 52.9998464,0.270378261 C49.2385526,0.270378261 45.5387103,0.513865217 41.8597384,0.941706584 C30.7590521,2.24262261 20.105918,5.51578298 10.2875964,10.5571224 C5.24509743,20.3766036 1.97193706,31.0494485 0.671021035,42.1698456 C0.24433913,45.8291067 0.000852173913,49.528949 0.000852173913,53.2693724 C0.000852173913,57.0109553 0.24433913,60.7107976 0.671021035,64.3503479 C1.97193706,75.4695856 5.22538658,86.1435899 10.2875964,95.9630711 C20.105918,101.024121 30.7799224,104.277571 41.9003195,105.578487 C45.5595806,106.005169 49.2594229,106.249815 52.9998464,106.249815 C56.7414293,106.249815 60.4401121,106.005169 64.0796623,105.578487 C75.3832544,104.23699 86.0560993,100.882667 95.753837,95.8807493 C100.775466,86.0821385 104.027756,75.4290044 105.328672,64.3503479 C105.755354,60.6899273 106,56.990085 106,53.2693724 C106,49.5092382 105.755354,45.7885256 105.308961,42.1501348" id="Fill-36"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>-->
                        <!--</svg>-->
                    </h3>
                    <span class="mark"></span>
                    <p class="subTxt"> 
                        Decenter is Korea's No.1 blockchain media and education company, established by a joint venture<br>
                        between Seoul Economic Daily, Korea’s leading financial newspaper and Chain Partners, <br>
                        Korea’s first blockchain company builder. Since its establishment in December 2017, <br>
                        Decenter has grown to be the most trusted news media and educational institution in the country.<br>


                    </p>
                    <img src="/images/chain.png"/>
                    <img src="/images/seoul.png"/>
                    
                </div>
            </div>
            </div>
            
            <!--section2-->
            <div class="scrollSection" id="section2">
                <div class="grayBg">
                    <div class="wrap">
                        <h3 class="subTitle">What we do</h3>
                        <span class="mark"></span>
                        <br>
                        <ul class="servGrid">
                            <li class="servBox">
                                <img class="deImg" src="/images/decenter.png">
                                <p class="servTxt">
                                    <span class="servTitle" style="line-height: 1.5; margin-bottom: 10px; display: inline-block;">News Hub of<br class="mbr">Decentralization Era</span><br>
                                    Decenter, Korea's first professional blockchain news media vividly reports the global trends of blockchain industry. Decenter provides an active forum discussing the current and future of the blockchain industry by providing access to professional columns. Decenter channels news via more than 30 leading international and domestic portals such as Bloomberg, Reuters, Naver and Daum.
                                </p>
                                <a href="http://www.decenter.kr" target="_blank" class="deLink">decenter.kr</a>
                            </li>
                            <li class="servBox">
                                <img class="deImg" src="/images/deuni.png">
                                <p class="servTxt">
                                    <span class="servTitle" style="line-height: 1.5; margin-bottom: 10px; display: inline-block;">Blockchain<br class="mbr">Education-Accelerator</span><br>
                                    From industry entry to start-ups, Decenter University offers education programs by various levels and disciplines. Decenter University fosters the blockchain professionals in the needs of the times, by collaborating with experts in the field. Rather than focusing on a one-shot education system, the center aims to support long-term growth by expanding the network and sharing intellectual resources.
                                </p>
                                <a href="http://decenteruniv.com" target="_blank" class="deLink">decenteruniv.com</a>
                            </li>
                            <li class="servBox">
                                <img class="deImg" src="/images/demeet.png">
                                <p class="servTxt">
                                    <span class="servTitle" style="line-height: 1.5; margin-bottom: 10px; display: inline-block;">Blockchain & Crypto<br class="mbr">Event Curator</span><br>
                                    Decenter Meetup supports all types of events for building blockchain communities. You can conveniently search and participate in various blockchain events by blockchain projects to seminars, conferences, and studies.  Decenter Meetup's goal is to grow into the No.1 Blockchain crypto-event platform. 

                                </p>
                                <a href="http://meetup.decenter.kr" target="_blank" class="deLink">meetup.decenter.kr</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <!--section2 end-->
            
                <div class="scrollSection" id="section3">
                    <div class="crewIntro">
                    <div class="wrap">
                        <h3 class="subTitle">
                            Join the Decenter Crew!
                        </h3>
                            <span class="mark"></span>
                            <p class="subTxt crewSub">
                                Decenter Crew loves our work as well as respects our colleagues' vocation.<br>
                                If you are ready to lead the industry while gaining genuine experience and continuous growth - don't hesitate to apply!<br>
                                We are always waiting with open arms for new applicants interested in becominga member of the Decenter Crew<br>
                                to build together the No 1. Global Blockchain Portal, Decenter.

                            </p>
                        <div class="btnWrap">
                            <a class="crewPage" id="pageChange">Introduce Crew</a> 
                            <br class="mBr">
                            <a href="http://bit.ly/de_recruit" class="crewPage" target="_blank">Apply for Crew</a>
                        </div>
                    </div>
                    <div class="crewImgWrap">
                        <img src="http://decentercorp.com/images/pre_crew_all.jpg">
                    </div>
                </div>
            </div>
            <!--section3-->
            <div class="wrap">
            <div class="scrollSection" id="section4">
                <div class="partner">
                    <h3 class="subTitle">Our Partners</h3>
                    <span class="mark"></span>
                    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider autoplay>

                        <ul id="partnerSlider" class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                            <li class="partnerItem">
                                <img src="/images/KoreaBlockchain.png" alt="">
                            </li>
                            <li class="partnerItem">
                                <img src="/images/dlight.png" alt="">
                            </li>
                            <li class="partnerItem">
                                <img src="/images/joowon.png" alt="">
                            </li>
                            <li class="partnerItem">
                                <img src="/images/dongin.png" alt="">
                            </li>
                            <li class="partnerItem">
                                <img src="/images/barun.png" alt="">
                            </li>
                            <li class="partnerItem">
                                <img src="/images/boscoin.png" alt="">
                            </li>
                            <li class="partnerItem">
                                <img src="/images/verasity_logo.png" alt="">
                            </li>
                        </ul>
                    
                        <a class="sliderChange uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="sliderChange uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                    
                    </div>
                </div>
            </div>
        </div>
        <!--section3 end-->
        </div>
        <!--mainPage Wrap end-->
        
        <!--crewPage Wrap-->
        <div class="crewPageWrap">
        <!--cover section-->
        <div class="crewCover">
            <span class="txtBig">Decenter Crew</span>
        </div>
        <!--coversection end-->
        <div class="wrap">
            <!--crew1-->
            <div class="crewSection" id="crew1">
                <div class="crew">
                    <h3 class="subTitle">Be our Crew</h3>
                    <span class="mark"></span>
                    <p class="subTxt">
                        Decenter Crew loves our work as well as respects our colleagues' vocation.<br>
                        If you are ready to lead the industry while gaining genuine experience and continuous growth - don't hesitate to apply!<br>
                        We are always waiting with open arms for new applicants interested in becominga member of the Decenter Crew<br>
                        to build together the No 1. Global Blockchain Portal, Decenter.
                    </p>
                </div>
                <div class="value">
                    <span class="valueTitle">
                    <svg width="34px"viewBox="0 0 106 107" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Desktop-HD" transform="translate(-645.000000, -3989.000000)" fill="#448AFF">
                                        <g id="Group-39" transform="translate(645.000000, 3989.000000)">
                                            <g id="Group-38">
                                                <path d="M52.9998464,72.7865912 C47.1445648,72.7865912 41.4121862,71.9332274 35.9441648,70.3262135 C34.3371509,64.8581921 33.4826276,59.124654 33.4826276,53.2693724 C33.4826276,47.4152503 34.3371509,41.6817122 35.9441648,36.2136909 C41.4121862,34.6078364 47.1445648,33.7533132 52.9998464,33.7533132 C58.8551279,33.7533132 64.5677957,34.6078364 70.0161062,36.2136909 C71.6219607,41.6214202 72.5170651,47.3537989 72.5170651,53.2902428 C72.5170651,59.1455243 71.6625418,64.8581921 70.0775577,70.3065026 C64.648958,71.8926462 58.9362902,72.7865912 52.9998464,72.7865912 M105.308961,42.1501348 C103.967464,30.8662535 100.611981,20.2142789 95.6112232,10.5165413 C85.8126124,5.49491267 75.1791892,2.24262261 64.0796623,0.941706584 C60.4204012,0.513865217 56.7205589,0.270378261 52.9998464,0.270378261 C49.2385526,0.270378261 45.5387103,0.513865217 41.8597384,0.941706584 C30.7590521,2.24262261 20.105918,5.51578298 10.2875964,10.5571224 C5.24509743,20.3766036 1.97193706,31.0494485 0.671021035,42.1698456 C0.24433913,45.8291067 0.000852173913,49.528949 0.000852173913,53.2693724 C0.000852173913,57.0109553 0.24433913,60.7107976 0.671021035,64.3503479 C1.97193706,75.4695856 5.22538658,86.1435899 10.2875964,95.9630711 C20.105918,101.024121 30.7799224,104.277571 41.9003195,105.578487 C45.5595806,106.005169 49.2594229,106.249815 52.9998464,106.249815 C56.7414293,106.249815 60.4401121,106.005169 64.0796623,105.578487 C75.3832544,104.23699 86.0560993,100.882667 95.753837,95.8807493 C100.775466,86.0821385 104.027756,75.4290044 105.328672,64.3503479 C105.755354,60.6899273 106,56.990085 106,53.2693724 C106,49.5092382 105.755354,45.7885256 105.308961,42.1501348" id="Fill-36"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        디센터 크루 핵심 역량
                            </span>
                            <!--<span class="valueTitle">디센터 크루 핵심 역량</span>-->
                            <br>
                            <div class="valueItem">
                                <span class="vItemTitle">Insight</span><br>
                                <!--시대를 앞서 가는<br class="vTxtBr"> 인사이트-->
                                Insight that<br class="vTxtBr">precede era
                            </div>
                            <div class="valueItem">
                                <span class="vItemTitle">Passion & Resilience</span><br>
                                <!--의미 있는 성장을 위한<br class="vTxtBr"> 열정과 인내-->
                                Passion & Resilience<br class="vTxtBr">for meanigful growth
                            </div>
                            <div class="valueItem">
                                <span class="vItemTitle">Objectivity</span><br>
                                Objectivity finding real value<br class="vTxtBr">in chaotic market
                           </div>
                            <div class="valueItem">
                                <span class="vItemTitle">Challenge Spirit</span><br>
                                Fail fast, go further
                            </div>
        
                        </div>
                    </div>
            <!--crew1 end-->
            <!--crew2-->
            <div class="crewSection" id="crew2">
                <div class="gridWrap">
                <ul class="crewGrid">
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">Lucia Kang</span>
                            <span class="position">Product Lead</span>
                        </div>
                        <p class="crewTxt">
                            Let's create opportunities and possibilities for building new systems with Decenter!
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">Minsoo Kim</span>
                            <span class="position">Manager</span>
                        </div>
                        <p class="crewTxt">
                            We are cheering for the change that Blockchain will bring.
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">Janice Kim</span>
                            <span class="position">Reporter</span>
                        </div>
                        <p class="crewTxt">
                            Blockchain will be everywhere and the world will have to readjust.
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">Elina Kim</span>
                            <span class="position">Senior Manager</span>
                        </div>
                        <p class="crewTxt">
                            We will provide you with the best training program at the front line of the blockchain industry.
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">Rok Kim</span>
                            <span class="position">Editor</span>
                        </div>
                        <p class="crewTxt">
                            We will be the first to tell you the forefront stories/news of the ever-changing blockchain industry.
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">SeoYeon Min</span>
                            <span class="position">Intern Reporter</span>
                        </div>
                        <p class="crewTxt">
                            Stay-tuned with Decenter to keep up with all the latest news!
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">Claire Park</span>
                            <span class="position">Co-representative</span>
                        </div>
                        <p class="crewTxt">
                            We expect to be able to spread our imagination with the advent of blockchain technology.
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">DongYoung Son</span>
                            <span class="position">Co-representative</span>
                        </div>
                        <p class="crewTxt">
                            One day, a better world will spread out before everyone.
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">EunDong Shin</span>
                            <span class="position">Reporter</span>
                        </div>
                        <p class="crewTxt">
                            We will set the attitude and convey the values of Decentralization.
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">DooBoo Shim</span>
                            <span class="position">Editor</span>
                        </div>
                        <p class="crewTxt">
                            We support new technologies, new ideas, and new challenges!
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <a class="name" target="_blank" href="https://people.search.naver.com/search.naver?where=nexearch&query=%EC%9A%B0%EC%8A%B9%ED%98%B8&sm=tab_etc&ie=utf8&key=PeopleService&os=215160">SeungHo Woo</a>
                            <span class="position">CVO</span>
                        </div>
                        <p class="crewTxt">
                            2000 Internet, 2010 Mobile, 2020 Blockchain.. an interesting journey!
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">JaeYeon Won</span>
                            <span class="position">Reporter</span>
                        </div>
                        <p class="crewTxt">
                            The biggest opportunity set we can think of over the next decade.
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">Ella Yoon</span>
                            <span class="position">UX Designer</span>
                        </div>
                        <p class="crewTxt">
                            We trust the value of the community around you, not the center.
                        </p>
                    </li>
                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">Ryan Lee</span>
                            <span class="position">Head of Education</span>
                        </div>
                        <p class="crewTxt">
                            Decenter University is growing as the leading blockchain education institution in Korea.i
                        </p>
                    </li>
<!--                    <li class="crewBox">
                        <div class="crewImg"></div>
                        <div class="crewInfo">
                            <span class="name">최재석</span>
                            <span class="position">이사</span>
                        </div>
                        <p class="crewTxt">
                            빨리 넘어지고 더 멀리 달리는 도전 정신 의미 있는 성장을 위한 열정과 인내
                        </p>
                    </li>-->

                </ul>
                </div>
            </div>
            <!--crew2 end-->
            </div>
        </div>
        </div>
<!--footer-->
        <div class="footer">
            <span class="footLogo">
                <a target="_blank" href="http://www.decenter.kr/">
                    <svg height="40px" viewBox="0 0 299 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <polygon id="path-1" points="0.000356521739 0.531484783 81.4842913 0.531484783 81.4842913 82 0.000356521739 82"></polygon>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-236.000000, -4637.000000)">
                                <g id="Group-39" transform="translate(236.000000, 4637.000000)">
                                    <path d="M109.823607,50.0748517 C114.968219,50.0748517 118.958046,46.342678 118.958046,41.4072014 C118.958046,36.6256562 114.98447,32.9242686 109.823607,32.9242686 L104.915551,32.9242686 L104.915551,50.0590188 L109.823607,50.0590188 L109.823607,50.0748517 Z M109.823607,26 C119.796822,26 127,32.3384502 127,41.4072014 C127,50.6149306 119.796822,57 109.823607,57 L97,57 L97,26 L109.823607,26 Z" id="Fill-20" fill="#FFFFFF"></path>
                                    <path d="M137.087648,43.7504851 L146.081586,43.7504851 C145.666832,41.2366168 144.083225,39.9244378 141.715707,39.9244378 C139.225429,39.9244378 137.626039,41.4292889 137.087648,43.7504851 M152.84655,48.1052391 L152.893023,48.2495149 L137.179718,48.2495149 C137.763706,50.331469 139.316622,51.9477229 142.130461,51.9477229 C143.667594,51.9477229 144.851353,51.3395731 145.497598,50.2830727 L152.770263,50.2830727 C151.724171,55.0222577 147.496836,58 142.038391,58 C134.8122,58 130,52.9886999 130,45.9758018 C130,39.0113001 134.674533,34 141.730614,34 C148.142204,34 153,38.5949093 153,45.4954914 C152.985093,46.3602329 152.985093,47.2569341 152.84655,48.1052391" id="Fill-22" fill="#FFFFFF"></path>
                                    <path d="M171.844513,48.0572211 L179,48.0572211 C178.478123,53.9814336 173.664761,58 167.395922,58 C160.239532,58 155,52.9888906 155,45.9762593 C155,39.0120225 160.239532,34 167.395922,34 C173.664761,34 178.493473,38.0185664 179,43.9427789 L171.844513,43.9427789 C171.464392,41.8618171 169.738949,40.4848577 167.395922,40.4848577 C164.166247,40.4848577 162.203341,42.8543601 162.203341,45.9762593 C162.203341,49.0981586 164.166247,51.5160554 167.395922,51.5160554 C169.755201,51.5160554 171.480644,50.139096 171.844513,48.0572211" id="Fill-24" fill="#FFFFFF"></path>
                                    <path d="M189.087648,43.7504851 L198.081586,43.7504851 C197.666832,41.2366168 196.083225,39.9244378 193.715707,39.9244378 C191.224552,39.9244378 189.626039,41.4292889 189.087648,43.7504851 M204.862333,48.1052391 L204.90793,48.2495149 L189.179718,48.2495149 C189.763706,50.331469 191.316622,51.9477229 194.130461,51.9477229 C195.667594,51.9477229 196.851353,51.3395731 197.497598,50.2830727 L204.769386,50.2830727 C203.724171,55.0222577 199.495959,58 194.038391,58 C186.8122,58 182,52.9886999 182,45.9758018 C182,39.0113001 186.673656,34 193.730614,34 C200.142204,34 205,38.5949093 205,45.4954914 C204.985093,46.3602329 204.985093,47.2569341 204.862333,48.1052391" id="Fill-26" fill="#FFFFFF"></path>
                                    <path d="M232,44.2552576 L232,57 L224.544164,57 L224.544164,45.4534054 C224.544164,42.2787575 222.951904,40.7540035 220.523377,40.7540035 C219.146358,40.7540035 217.692594,41.5323558 216.409082,43.0109589 L216.409082,57 L209,57 L209,34.685163 L216.409082,34.685163 L216.409082,36.209917 C218.187474,34.7783523 220.151996,34 222.533771,34 C228.163579,34 232,37.9059618 232,44.2552576" id="Fill-28" fill="#FFFFFF"></path>
                                    <path d="M254,56.8803957 C251.121038,57.8102518 249.464819,58 247.266531,58 C241.910303,58 238.349784,53.9946043 238.349784,47.8920863 L238.349784,41.1753597 L234,41.1753597 L234,34.6951439 L238.349784,34.6951439 L238.349784,27 L245.76481,27 L245.76481,34.6951439 L253.319326,34.6951439 L253.319326,41.1753597 L245.76481,41.1753597 L245.76481,47.6564748 C245.76481,49.942446 247.049351,51.0620504 249.247638,51.0620504 C250.300874,51.0620504 251.538625,50.8255396 253.179836,50.493705 L254,56.8803957 Z" id="Fill-30" fill="#FFFFFF"></path>
                                    <path d="M263.10316,43.7504851 L272.096756,43.7504851 C271.682017,41.2366168 270.098471,39.9244378 267.730167,39.9244378 C265.2242,39.9244378 263.641531,41.4292889 263.10316,43.7504851 M278.861462,48.1052391 L278.907057,48.2495149 L263.179444,48.2495149 C263.764287,50.331469 265.317144,51.9477229 268.129999,51.9477229 C269.66795,51.9477229 270.851664,51.3395731 271.497007,50.2830727 L278.769395,50.2830727 C277.723343,55.0222577 273.496169,58 268.037932,58 C260.812016,58 256,52.9886999 256,45.9758018 C256,39.0113001 260.673478,34 267.730167,34 C274.141512,34 279,38.5949093 279,45.4954914 C279,46.3602329 279,47.2569341 278.861462,48.1052391" id="Fill-32" fill="#FFFFFF"></path>
                                    <path d="M299,41.1826046 C295.408475,41.3248522 293.126956,42.3034799 291.384385,44.0707715 L291.384385,57 L284,57 L284,34.3628215 L291.384385,34.3628215 L291.384385,36.7936353 C293.34236,35.0731593 295.716195,34 299,34 L299,41.1826046 Z" id="Fill-34" fill="#FFFFFF"></path>
                                    <g id="Group-38">
                                        <mask id="mask-2" fill="white">
                                            <use xlink:href="#path-1"></use>
                                        </mask>
                                        <g id="Clip-37"></g>
                                        <path d="M40.7418783,56.2763326 C36.2407913,56.2763326 31.8341826,55.6203326 27.6307913,54.3849848 C26.3954435,50.1815935 25.7385522,45.7740935 25.7385522,41.2730065 C25.7385522,36.7728109 26.3954435,32.3653109 27.6307913,28.1619196 C31.8341826,26.927463 36.2407913,26.2705717 40.7418783,26.2705717 C45.2429652,26.2705717 49.6344217,26.927463 53.8226609,28.1619196 C55.0571174,32.318963 55.7452043,36.7255717 55.7452043,41.28905 C55.7452043,45.790137 55.088313,50.1815935 53.8699,54.3698326 C49.696813,55.589137 45.3053565,56.2763326 40.7418783,56.2763326 M80.9530739,32.7253978 C79.9218348,24.0512239 77.3424,15.8628109 73.4982043,8.4079413 C65.9657913,4.54770217 57.7916391,2.04759348 49.2591826,1.04755 C46.4462261,0.718658696 43.6020739,0.531484783 40.7418783,0.531484783 C37.850487,0.531484783 35.0063348,0.718658696 32.1782261,1.04755 C23.6448783,2.04759348 15.4555739,4.56374565 7.9080087,8.43913696 C4.03172609,15.9875935 1.51557391,24.19205 0.515530435,32.74055 C0.187530435,35.5535065 0.000356521739,38.3976587 0.000356521739,41.2730065 C0.000356521739,44.1492457 0.187530435,46.9933978 0.515530435,49.7912022 C1.51557391,58.3388109 4.01657391,66.5441587 7.9080087,74.0926152 C15.4555739,77.9831587 23.6609217,80.4841587 32.2094217,81.4842022 C35.0223783,81.8122022 37.8665304,82.0002674 40.7418783,82.0002674 C43.6181174,82.0002674 46.4613783,81.8122022 49.2591826,81.4842022 C57.9485087,80.452963 66.1529652,77.8744196 73.6078348,74.0293326 C77.4680739,66.4969196 79.9681826,58.3076152 80.9682261,49.7912022 C81.2962261,46.9773543 81.4842913,44.1332022 81.4842913,41.2730065 C81.4842913,38.3825065 81.2962261,35.5223109 80.9530739,32.7253978" id="Fill-36" fill="#FFFFFF" mask="url(#mask-2)"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
                <br>
                <a target="_blank" href="https://decenteruniv.com">
                    <svg height="40px" viewBox="0 0 361 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 0.561643836 81.4382438 0.561643836 81.4382438 81.9994384 0 81.9994384"></polygon>
        <polygon id="path-3" points="0 81 361 81 361 0 0 0"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD" transform="translate(-205.000000, -4515.000000)">
            <g id="Group-33" transform="translate(205.000000, 4515.000000)">
                <g id="Group-3">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-2"></g>
                    <path d="M53.8289562,54.3856575 C51.579011,55.0495205 49.2729014,55.5437671 46.9252301,55.8616575 C45.4413671,56.062726 43.9429014,56.1930274 42.4309562,56.2503151 C41.8625726,56.2705342 41.2919425,56.2817671 40.720189,56.2817671 C36.2158055,56.2817671 31.8158877,55.6257671 27.6125452,54.3867808 C26.3746822,50.1845616 25.7186822,45.7835205 25.7186822,41.2813836 C25.7186822,36.7904795 26.3724356,32.4017945 27.6046822,28.2085616 C29.8445178,27.5435753 32.152874,27.0380959 34.5162712,26.7123425 C35.9933945,26.5079041 37.490737,26.3731096 39.0082986,26.3158219 C39.5755589,26.2944795 40.146189,26.2832466 40.720189,26.2832466 C45.2110932,26.281 49.5986548,26.9325068 53.7907644,28.1625068 C55.0263808,32.325411 55.7160795,36.7219589 55.7160795,41.2813836 C55.7194493,45.7857671 55.0656959,50.1845616 53.8289562,54.3856575 M80.9170384,32.7713562 C79.8881068,24.0928356 77.3079151,15.8883425 73.4617781,8.43420548 C65.9301342,4.57121918 57.7559699,2.07752055 49.2380795,1.07779452 C46.428737,0.748671233 43.5890658,0.561082192 40.7179425,0.561082192 C37.8490658,0.561082192 35.0262438,0.749794521 32.2461068,1.07891781 C32.2213945,1.08116438 32.1955589,1.08453425 32.1708466,1.08790411 C30.708326,1.2620137 29.2604082,1.48330137 27.8270932,1.74390411 C20.762737,3.02894521 14.0567096,5.34516438 7.8696411,8.53979452 C4.00777808,16.0703151 1.51520274,24.2444795 0.5166,32.7623699 C0.186353425,35.570589 -0.000112328767,38.4113836 -0.000112328767,41.2813836 C-0.000112328767,44.164863 0.1886,47.0168904 0.519969863,49.8374658 C1.52531233,58.3688356 4.02912055,66.5553562 7.90670959,74.0937397 C15.4529562,77.9746986 23.6495863,80.4796301 32.1910658,81.482726 C35.0026548,81.8129726 37.8456959,81.9994384 40.720189,81.9994384 C43.5755863,81.9994384 46.4006548,81.8140959 49.1931479,81.4883425 C49.208874,81.4872192 49.2223534,81.4849726 49.2369562,81.4838493 C50.708463,81.3119863 52.1676137,81.0906986 53.6155315,80.8300959 C60.5832849,79.5753836 67.280326,77.3097123 73.5291753,74.094863 C77.4123808,66.5474932 79.9173123,58.350863 80.9204082,49.8082603 C81.2506548,46.9977945 81.4382438,44.1536301 81.4382438,41.2802603 C81.4382438,38.3990274 81.2484082,35.5638493 80.9170384,32.7713562" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
                </g>
                <path d="M106.25991,29.1868335 C110.378459,29.1868335 113.561331,26.0522605 113.561331,21.9232396 C113.561331,17.9087865 110.378459,14.8108751 106.25991,14.8108751 L102.326477,14.8108751 L102.326477,29.1868335 L106.25991,29.1868335 Z M106.25991,9 C114.23448,9 120,14.3147969 120,21.9232396 C120,29.6462501 114.23448,35 106.25991,35 L96,35 L96,9 L106.25991,9 Z" id="Fill-4" fill="#FFFFFF"></path>
                <path d="M128.855155,23.7201537 L136.289986,23.7201537 C135.954699,21.732565 134.640552,20.683747 132.686208,20.683747 C130.621602,20.683747 129.307455,21.8830378 128.855155,23.7201537 M141.886362,27.1686761 L141.922366,27.2798463 L128.930538,27.2798463 C129.421093,28.9294326 130.695861,30.2028369 133.024871,30.2028369 C134.300764,30.2028369 135.276248,29.7166076 135.801682,28.89013 L141.809854,28.89013 C140.948007,32.6395981 137.456742,35 132.949488,35 C126.97732,35 123,31.0281915 123,25.4809102 C123,19.9729314 126.863682,16 132.686208,16 C137.981051,16 142,19.6349291 142,25.106974 C142,25.7807329 142,26.4926714 141.886362,27.1686761" id="Fill-6" fill="#FFFFFF"></path>
                <path d="M157.333625,27.1298387 L163,27.1298387 C162.592722,31.8133089 158.778518,35 153.813504,35 C148.147129,35 144,31.0284262 144,25.4803499 C144,19.9726966 148.147129,16 153.813504,16 C158.778518,16 162.592722,19.1855682 163,23.8690385 L157.333625,23.8690385 C157.037323,22.2195497 155.665674,21.1337391 153.813504,21.1337391 C151.258863,21.1337391 149.702996,23.007801 149.702996,25.4803499 C149.702996,27.9540216 151.258863,29.8662609 153.813504,29.8662609 C155.665674,29.8662609 157.037323,28.7793275 157.333625,27.1298387" id="Fill-8" fill="#FFFFFF"></path>
                <path d="M171.855155,23.7201537 L179.289986,23.7201537 C178.954699,21.732565 177.640552,20.683747 175.686208,20.683747 C173.621602,20.683747 172.307455,21.8830378 171.855155,23.7201537 M184.886362,27.1686761 L184.922366,27.2798463 L171.930538,27.2798463 C172.421093,28.9294326 173.695861,30.2028369 176.025996,30.2028369 C177.300764,30.2028369 178.276248,29.7166076 178.801682,28.89013 L184.809854,28.89013 C183.948007,32.6395981 180.456742,35 175.949488,35 C169.97732,35 166,31.0281915 166,25.4809102 C166,19.9729314 169.863682,16 175.686208,16 C180.981051,16 185,19.6349291 185,25.106974 C185,25.7807329 185,26.4926714 184.886362,27.1686761" id="Fill-10" fill="#FFFFFF"></path>
                <path d="M207,23.4735423 L207,34 L200.842456,34 L200.842456,24.4629951 C200.842456,21.8396356 199.520639,20.5848864 197.517541,20.5848864 C196.385848,20.5848864 195.178331,21.2316174 194.119066,22.4476539 L194.119066,34 L188,34 L188,15.5693054 L194.119066,15.5693054 L194.119066,16.8240547 C195.592531,15.6455924 197.216511,15 199.178867,15 C203.8256,15 207,18.2313777 207,23.4735423" id="Fill-12" fill="#FFFFFF"></path>
                <path d="M225,35.0988555 C222.691875,35.8501847 221.374357,36 219.615838,36 C215.331985,36 212.476448,32.7682707 212.476448,27.8423898 L212.476448,22.4287645 L209,22.4287645 L209,17.2032531 L212.476448,17.2032531 L212.476448,11 L218.408022,11 L218.408022,17.2032531 L224.4482,17.2032531 L224.4482,22.4287645 L218.408022,22.4287645 L218.408022,27.6565288 C218.408022,29.4971163 219.43483,30.4005137 221.190058,30.4005137 C222.033665,30.4005137 223.019883,30.2123997 224.340692,29.948815 L225,35.0988555 Z" id="Fill-14" fill="#FFFFFF"></path>
                <path d="M231.855155,23.7201537 L239.289986,23.7201537 C238.954699,21.732565 237.639427,20.683747 235.685083,20.683747 C233.621602,20.683747 232.30633,21.8830378 231.855155,23.7201537 M244.886362,27.1686761 L244.922366,27.2798463 L231.930538,27.2798463 C232.419968,28.9294326 233.695861,30.2028369 236.024871,30.2028369 C237.300764,30.2028369 238.275123,29.7166076 238.801682,28.89013 L244.809854,28.89013 C243.946882,32.6395981 240.455617,35 235.949488,35 C229.97732,35 226,31.0281915 226,25.4809102 C226,19.9729314 229.863682,16 235.685083,16 C240.981051,16 245,19.6349291 245,25.106974 C245,25.7807329 245,26.4926714 244.886362,27.1686761" id="Fill-16" fill="#FFFFFF"></path>
                <path d="M261,21.6221966 C258.119388,21.7326931 256.293325,22.4996049 254.909844,23.8857351 L254.909844,34 L249,34 L249,16.2910108 L254.909844,16.2910108 L254.909844,18.1902389 C256.476915,16.8402115 258.372917,16 261,16 L261,21.6221966 Z" id="Fill-18" fill="#FFFFFF"></path>
                <path d="M124,58.6688536 C124,67.7770488 118.603288,73 109.97721,73 C101.395572,73 96,67.7770488 96,58.6688536 L96,43 L103.518476,43 L103.518476,58.7989547 C103.518476,63.2880018 106.040208,66.1802513 109.97721,66.1802513 C113.914211,66.1802513 116.479245,63.2880018 116.479245,58.7989547 L116.479245,43 L124,43 L124,58.6688536 Z" id="Fill-20" fill="#FFFFFF"></path>
                <polygon id="Fill-22" fill="#FFFFFF" points="156 72 150.13983 72 135.558537 56.0926277 135.558537 72 128 72 128 43 133.770298 43 148.439159 59.333649 148.439159 43 156 43"></polygon>
                <mask id="mask-4" fill="white">
                    <use xlink:href="#path-3"></use>
                </mask>
                <g id="Clip-25"></g>
                <polygon id="Fill-24" fill="#FFFFFF" mask="url(#mask-4)" points="161 72 169 72 169 43 161 43"></polygon>
                <polygon id="Fill-26" fill="#FFFFFF" mask="url(#mask-4)" points="191.191275 72 183.809843 72 171 43 179.077181 43 187.5 62.5448554 195.922819 43 204 43"></polygon>
                <polygon id="Fill-27" fill="#FFFFFF" mask="url(#mask-4)" points="215.233738 54.5578118 228.116869 54.5578118 228.116869 60.6992726 215.233738 60.6992726 215.233738 65.7310956 230 65.7310956 230 72 208 72 208 43 230 43 230 49.270003 215.233738 49.270003"></polygon>
                <path d="M246.720307,57.1160359 C249.532552,57.1160359 251.783016,55.5812782 251.783016,53.1929007 C251.783016,50.847369 249.532552,49.3543584 246.720307,49.3543584 L241.310944,49.3543584 L241.310944,57.1160359 L246.720307,57.1160359 Z M241.310944,63.5989317 L241.310944,72 L234,72 L234,43 L246.893077,43 C254.163894,43 259.051604,46.9242338 259.051604,53.1929007 C259.051604,57.2445732 256.932667,60.4426261 253.428229,62.1916127 L261,72 L252.173141,72 L245.856459,63.5989317 L241.310944,63.5989317 Z" id="Fill-28" fill="#FFFFFF" mask="url(#mask-4)"></path>
                <path d="M287.956786,51.5625477 L280.451209,51.5625477 C280.055461,49.4043527 278.643048,47.9230462 275.596466,47.9230462 C273.035472,47.9230462 271.313738,48.9389238 271.313738,50.8006395 C271.313738,52.3658758 272.505533,53.0427642 274.757206,53.5081931 L278.951231,54.439051 C284.425753,55.5824583 288,57.6970534 288,62.6478218 C288,68.4019184 283.055417,72 275.552115,72 C268.797096,72 262.705069,68.9523671 262,61.8444937 L269.460088,61.8444937 C269.944539,64.3830978 272.241701,65.9058242 275.772733,65.9058242 C278.553208,65.9058242 280.01111,64.9335465 280.01111,63.3672201 C280.01111,62.3949424 279.392468,61.3779748 276.831474,60.9125459 L271.888029,59.8552483 C265.97227,58.6279112 263.191795,55.9628674 263.191795,51.3935981 C263.191795,45.6384115 268.047675,42 275.110878,42 C279.966759,42 287.206228,43.8192058 287.956786,51.5625477" id="Fill-29" fill="#FFFFFF" mask="url(#mask-4)"></path>
                <polygon id="Fill-30" fill="#FFFFFF" mask="url(#mask-4)" points="292 72 300 72 300 43 292 43"></polygon>
                <polygon id="Fill-31" fill="#FFFFFF" mask="url(#mask-4)" points="319.670974 49.4391953 319.670974 72 312.371304 72 312.371304 49.4391953 303 49.4391953 303 43 329 43 329 49.4391953"></polygon>
                <polygon id="Fill-32" fill="#FFFFFF" mask="url(#mask-4)" points="349.62853 63.2569329 349.62853 72 342.414101 72 342.414101 63.2569329 331 43 338.935872 43 345.978685 55.6235036 353.066314 43 361 43"></polygon>
            </g>
        </g>
    </g>
</svg>
                </a>
                <br>
                <a target="_blank" href="https://meetup.decenter.kr/">
                    <svg height="40px" viewBox="0 0 275 81" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD" transform="translate(-202.000000, -4404.000000)" fill="#FFFFFF">
            <g id="Group-31" transform="translate(202.000000, 4404.000000)">
                <path d="M106.831014,29.1877276 C110.77779,29.1877276 113.828344,26.0525809 113.828344,21.9234311 C113.828344,17.9084386 110.77779,14.8108803 106.831014,14.8108803 L103.061914,14.8108803 L103.061914,29.1877276 L106.831014,29.1877276 Z M106.831014,9 C114.475036,9 120,14.3138788 120,21.9234311 C120,29.6457486 114.475036,35 106.831014,35 L97,35 L97,9 L106.831014,9 Z" id="Fill-1"></path>
                <path d="M129.855724,22.7200718 L137.291934,22.7200718 C136.955602,20.7334291 135.640354,19.6841652 133.686623,19.6841652 C131.622149,19.6841652 130.308268,20.8835189 129.855724,22.7200718 M142.886522,26.1680431 L142.923437,26.2785637 L129.932288,26.2785637 C130.421746,27.9281867 131.695978,29.2025853 134.025689,29.2025853 C135.301288,29.2025853 136.276103,28.7168402 136.802475,27.8913465 L142.811326,27.8913465 C141.948622,31.6394973 138.456789,34 133.949126,34 C127.978557,34 124,30.028079 124,24.4815799 C124,18.9732855 127.865079,15 133.686623,15 C138.981795,15 143,18.6362657 143,24.1077199 C143,24.7817594 143,25.4926391 142.886522,26.1680431" id="Fill-3"></path>
                <path d="M158.33331,26.1298384 L164,26.1298384 C163.592732,30.8140036 159.777628,34 154.813542,34 C149.146852,34 145,30.028079 145,24.4815799 C145,18.9732855 149.146852,15 154.813542,15 C159.777628,15 163.592732,18.1859964 164,22.8687971 L158.33331,22.8687971 C158.037973,21.2205386 156.665129,20.13307 154.813542,20.13307 C152.259351,20.13307 150.703102,22.0078276 150.703102,24.4815799 C150.703102,26.9539677 152.259351,28.8655655 154.813542,28.8655655 C156.665129,28.8655655 158.037973,27.7794614 158.33331,26.1298384" id="Fill-5"></path>
                <path d="M172.854778,22.7200718 L180.291523,22.7200718 C179.955167,20.7334291 178.639824,19.6841652 176.685953,19.6841652 C174.622697,19.6841652 173.307355,20.8835189 172.854778,22.7200718 M185.887881,26.1680431 L185.924799,26.2785637 L172.931347,26.2785637 C173.420841,27.9281867 174.696531,29.2025853 177.02641,29.2025853 C178.300734,29.2025853 179.276986,28.7168402 179.802029,27.8913465 L185.811313,27.8913465 C184.948546,31.6394973 181.456462,34 176.949842,34 C170.977476,34 167,30.028079 167,24.4815799 C167,18.9732855 170.86399,15 176.685953,15 C181.982873,15 186,18.6362657 186,24.1077199 C186,24.7817594 186,25.4926391 185.887881,26.1680431" id="Fill-7"></path>
                <path d="M208,23.4733469 L208,34 L201.843153,34 L201.843153,24.462642 C201.843153,21.8392805 200.520194,20.5857122 198.517878,20.5857122 C197.386074,20.5857122 196.177258,21.2318672 195.119716,22.4480775 L195.119716,34 L189,34 L189,15.5700553 L195.119716,15.5700553 L195.119716,16.8236237 C196.592574,15.646155 198.216705,15 200.17914,15 C204.825999,15 208,18.2307748 208,23.4733469" id="Fill-9"></path>
                <path d="M226,34.0979523 C223.692577,34.8494306 222.37424,35 220.616013,35 C216.33175,35 213.476464,31.7668638 213.476464,26.8418747 L213.476464,21.4282194 L210,21.4282194 L210,16.2034604 L213.476464,16.2034604 L213.476464,10 L219.408315,10 L219.408315,16.2034604 L225.448138,16.2034604 L225.448138,21.4282194 L219.408315,21.4282194 L219.408315,26.6557162 C219.408315,28.4954008 220.434725,29.3988173 222.190286,29.3988173 C223.032742,29.3988173 224.020495,29.21129 225.340165,28.9471091 L226,34.0979523 Z" id="Fill-11"></path>
                <path d="M233.855724,22.7200718 L241.290566,22.7200718 C240.954235,20.7334291 239.640354,19.6841652 237.686623,19.6841652 C235.622149,19.6841652 234.308268,20.8835189 233.855724,22.7200718 M246.886522,26.1680431 L246.923437,26.2785637 L233.932288,26.2785637 C234.421746,27.9281867 235.695978,29.2025853 238.025689,29.2025853 C239.301288,29.2025853 240.276103,28.7168402 240.802475,27.8913465 L246.809959,27.8913465 C245.948622,31.6394973 242.456789,34 237.949126,34 C231.977189,34 228,30.028079 228,24.4815799 C228,18.9732855 231.865079,15 237.686623,15 C242.981795,15 247,18.6362657 247,24.1077199 C247,24.7817594 247,25.4926391 246.886522,26.1680431" id="Fill-13"></path>
                <path d="M263,20.6220089 C259.879827,20.7310192 257.901848,21.4980798 256.402899,22.8846381 L256.402899,33 L250,33 L250,15.2911374 L256.402899,15.2911374 L256.402899,17.1895126 C258.100365,15.8388479 260.153148,15 263,15 L263,20.6220089 Z" id="Fill-15"></path>
                <polygon id="Fill-17" points="129 73 121.632238 73 121.632238 57.4545987 115.048679 68.0771033 115.048679 68.1232031 110.951321 68.1232031 110.951321 68.0771033 104.323676 57.3637961 104.367762 73 97 73 97 42 102.449338 42 112.999332 58.5484205 123.506575 42 129 42"></polygon>
                <polygon id="Fill-19" points="142.562001 54.3541817 156.031 54.3541817 156.031 60.9196107 142.562001 60.9196107 142.562001 66.2990717 158 66.2990717 158 73 135 73 135 42 158 42 158 48.7023252 142.562001 48.7023252"></polygon>
                <polygon id="Fill-21" points="169.233218 54.3541817 182.116609 54.3541817 182.116609 60.9196107 169.233218 60.9196107 169.233218 66.2990717 184 66.2990717 184 73 162 73 162 42 184 42 184 48.7023252 169.233218 48.7023252"></polygon>
                <polygon id="Fill-23" points="205.312379 48.8839221 205.312379 73 197.731599 73 197.731599 48.8839221 188 48.8839221 188 42 215 42 215 48.8839221"></polygon>
                <path d="M246,58.71387 C246,68.4301208 240.410011,74 231.476135,74 C222.588586,74 217,68.4301208 217,58.71387 L217,42 L224.788363,42 L224.788363,58.8521294 C224.788363,63.6404197 227.399458,66.7244511 231.476135,66.7244511 C235.554216,66.7244511 238.211637,63.6404197 238.211637,58.8521294 L238.211637,42 L246,42 L246,58.71387 Z" id="Fill-25"></path>
                <path d="M262.010632,58.3660779 C265.346238,58.3660779 267.482279,56.4062275 267.482279,53.3512076 C267.482279,50.5713771 265.346238,48.7931236 262.010632,48.7931236 L257.517721,48.7931236 L257.517721,58.3660779 L262.010632,58.3660779 Z M262.187841,42 C270.062704,42 275,46.376487 275,53.3512076 C275,60.5997206 269.839149,65.1131038 261.564885,65.1131038 L257.517721,65.1131038 L257.517721,73 L250,73 L250,42 L262.187841,42 Z" id="Fill-27"></path>
                <path d="M40.9993121,55.4240573 C36.4702783,55.4240573 32.0347969,54.7716098 27.8043052,53.5441929 C26.5619851,49.364451 25.9016157,44.9821785 25.9016157,40.507476 C25.9016157,36.0314141 26.5619851,31.6505009 27.8043052,27.4721183 C32.0347969,26.2433421 36.4702783,25.5908946 40.9993121,25.5908946 C45.5283459,25.5908946 49.9473181,26.2433421 54.1626764,27.4721183 C55.4049964,31.6042859 56.0970085,35.9851991 56.0970085,40.5224279 C56.0970085,44.9984897 55.4366391,49.364451 54.2108283,53.5278817 C50.0106035,54.7403467 45.5916313,55.4240573 40.9993121,55.4240573 M81.4648256,32.0079878 C80.4261195,23.3848064 77.8314179,15.2414459 73.9627536,7.83072947 C66.3822626,3.99216325 58.1579115,1.50606635 49.5703572,0.512443154 C46.7390232,0.18486013 43.8774223,0 40.9993121,0 C38.0895593,0 35.2279583,0.18486013 32.3814909,0.512443154 C23.7939365,1.50606635 15.5530762,4.00847443 7.95745181,7.86199258 C4.05714477,15.3664983 1.52572857,23.5234515 0.518665168,32.0229397 C0.188480446,34.8203084 0,37.6489403 0,40.507476 C0,43.3660116 0.188480446,46.1946435 0.518665168,48.975701 C1.52572857,57.4751892 4.04201131,65.6335017 7.95745181,73.1366482 C15.5530762,77.0064775 23.8104458,79.4925744 32.4131336,80.4861976 C35.2430918,80.8137806 38.1060685,81 40.9993121,81 C43.8939315,81 46.7555324,80.8137806 49.5703572,80.4861976 C58.3147493,79.4626705 66.5707431,76.8977362 74.0728151,73.0754812 C77.9579887,65.5872867 80.4742714,57.4439261 81.4799591,48.975701 C81.8115196,46.1783323 82,43.3510597 82,40.507476 C82,37.6326291 81.8115196,34.7890453 81.4648256,32.0079878" id="Fill-29"></path>
            </g>
        </g>
    </g>
</svg>
                </a>
            </span>
            <span class="rightSection">
                Representative | DongYoung Son, InYoung Park<br>
                License Number | 261-81-26865<br>
                Location | 14, Teheran-ro 26-gil Gangnamgu Seoul, Korea 06236<br>
                Contact | contact@decenter.kr<br>
                @2018 Decenter Inc. All rights reserved
            </span>
        </div>
        <!--footer end-->