<!DOCTYPE html>
<html>
<head>
  <title>Decenter Corp</title>
  <meta property="og:url" content="http://decentercorp.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Decenter Corp" />
  <meta property="og:description" content="국내 유일 블록체인 전문 미디어·교육 전문 기업, 디센터" />
  <meta property="og:image" content="http://decentercorp.com/images/og-image.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" type="image/png" href="/images/decenter_icon.png" />
  <link rel="icon" type="image/ico" href="/images/decenter_icon.ico" />
  <link rel="shortcut icon" href="/images/decenter_icon.ico" type="image/x-icon" />
  
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
  
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/css/uikit.min.css" />
  
  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit-icons.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
